header {
    margin-bottom: 10%;
}

@media screen and (max-width: 480px) {
    header {
      margin-bottom: 20%;
    }
}

.container-fluid {
    width: 100%;
}

section {
    margin-bottom: 20%;
}

.container{
    margin:auto;
}

.form {
    margin: auto;
    background-color: #eee;
    border-radius: 3px;
    padding: 5%;
}