header {
    margin-bottom: 10%;
}

@media screen and (max-width: 768px) {
    header {
      margin-bottom: 20%;
    }
}

.container-fluid {
    width: 100%;
}

section {
    margin-bottom: 20%;
}

.container{
    margin:auto;
}

.form {
    margin: auto;
    text-align: center;
    background-color: #eee;
    border-radius: 3px;
    padding: 5%;
}

.cart {
    margin: auto;
    padding: 5%;
}

.cart > table {
    border: 2px solid #eee;
}

.error{
    color: red;
}
caption{
    text-align: center;
}

#submit, #back{
    margin-bottom: 5%;
}