header {
    margin-bottom: 10%;
}

@media screen and (max-width: 768px) {
    header {
      margin-bottom: 20%;
    }
}

section{
    margin: auto;
}

table {
    margin: auto;
    width: 70%;
}

section {
    margin-bottom: 20%;
}

caption {
    text-align: center;
}