header {
    margin-bottom: 12%;
}
@media screen and (max-width: 480px) {
    header {
      margin-bottom: 20%;
    }
}
hidden, .saveModify{
    display: none;
}

.remove{
    cursor: pointer;
}

.error:not(input){
    color:red;
}

.container{
    margin:auto;
}

.form {
    background-color: #eee;
    border-radius: 3px;
    padding: 5%;
    margin: auto;
}

#addnew{
    text-align: center;
} 

.category {
    display: inline;
}

.glyphicon-remove{
    color:red;
    float: right;
}
.glyphicon-remove:hover {
    cursor: pointer;
}


