<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Review order</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <section>
            <h1>Review</h1>
            <form action="file.php" method="POST">
                <label>Add description (optional): <input type="text" name="description" id="description" /></label><br/>

                <fieldset id="ratingSet">
                    <legend>Please rate this order:</legend>
                    <ul class="c-rating">
                        <li class="c-rating__item rating is-active left" data-index="0"></li>
                        <li class="c-rating__item" data-index="1"></li>
                        <li class="c-rating__item left" data-index="2"></li>
                        <li class="c-rating__item" data-index="3"></li>
                        <li class="c-rating__item left" data-index="4"></li>
                        <li class="c-rating__item" data-index="5"></li>
                        <li class="c-rating__item left" data-index="6"></li>
                        <li class="c-rating__item" data-index="7"></li>
                        <li class="c-rating__item left" data-index="8"></li>
                        <li class="c-rating__item" data-index="9"></li>
                    </ul>
                    <input type="hidden" id="rank" name="rank" />
                </fieldset>

                <input type="submit" value="Confirm" id="confirm"/>
            </form>
            <a href="../index.html">Skip review</a>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
        <script src="review.js"></script>
    </body>
</html>