<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Previous Orders</title>
    </head>

    <body>
        <div>
            <fieldset>
                <legend>Last Purchases</legend>
                <!-- TODO: Define border and style of the table using css-->
                <table>
                    <tr>
                        <th>ID Purchase</th>
                        <th>Nominative</th>
                        <th>Delivery date & time</th>
                        <th>Delivery spot</th>
                        <th>Status</th>
                    </tr>
                    <!--table rows will be created with text taken from db-->
                </table>
            </fieldset>
        </div>
    </body>
</html>