.hidden {
    display: none;
}

.fa-star {
    color:gray;
}

.review:hover {
    cursor: pointer;
}

.orange-star {
    color:orange;
}

.companyname:hover{
    cursor: pointer;
}
.companyname:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

header {
    margin-bottom: 10%;
}

@media screen and (max-width: 480px) {
    header {
      margin-bottom: 20%;
    }
}

#providerlist {
    margin: auto;
    list-style-type: none;
}

.provider {
    margin:auto;
    border-bottom: 1px solid #281919;
    width: 80%;
}

.research {
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 190% !important;
    margin-bottom: 5%;
}

h2 {
    font-size: 130% !important;
}

section {
    margin-bottom: 20%;
}