header {
    margin-bottom: 12%;
}

@media screen and (max-width: 768px) {
    header {
      margin-bottom: 20%;
    }
}

.login, .registration {
    margin: auto;
    text-align: center;
}

.user-psw {
    margin: auto;
}
@media only screen and (min-width: 768px) {
    /* For mobile phones: */
    .col-xs-6 {
      width: 50%;
    }
  }
  
#registerform{
    width: 100%;
    text-align: center;
}

.error{
    color:red;
}

.alert {
    margin-bottom: 3%;
    text-align: center;
}

section {
    margin-bottom: 30%;
}

