.nav {
    background-color: transparent;
}

.jumbotron {
    overflow: hidden;
    background-image: url("../images/backgrounds/hamburger.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 20%;
    margin: 0%;
}


.index-text {
    color: white;
    font-weight: bold;
    text-shadow: 10% 0 30% black;
}

#beauty {
    font-size: 160%;
}

#begin {
    color: #281919;
    background-color: white;
    border-radius: 3px;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#begin:hover{
    background-color: #eee;
}

.howtoprovider{
    padding: 10%;
    color: white;
    background-color: #281919;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 0;
}

.howtoclient {
    padding: 10%;
    text-align: justify;
    text-justify: inter-word;    
}

.aboutus{
    padding: 10%;
    text-align: justify;
    text-justify: inter-word;
}

h1:not(footer > *) {
    font-size: 500%;
}

h2:not(footer > *){
    font-size: 400%;
}
p:not(footer > *){
    font-size: 200%;
}
